/* Navbar.css */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: white;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
  }
  
  .nav-links li {
    margin-right: 20px;
  }
  
  .nav-links a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #555;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2rem;
    transition: background-color 0.3s, color 0.3s;
    border: 2px solid transparent;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .nav-links a:hover {
    background-color: #f0a500;
    color: white;
    border: 2px solid #f0a500;
    padding: 11px 21px;
    font-size: 1.3rem;
  }
  
  .logo img {
    height: 80px; /* Adjust based on your logo size */
  }
  